NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-here

AZURE_AD_CLIENT_ID=011713eb-5b9e-4a35-b2fe-742ad9af0e76
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=

SHAREPOINT_FOLDER_URL=https://nickelfoxnet-my.sharepoint.com/personal/sambhav_shah_nickelfox_com/_layouts/15/AccessDenied.aspx?Source=https%3A%2F%2Fnickelfoxnet%2Dmy%2Esharepoint%2Ecom%2Fpersonal%2Fsambhav%5Fshah%5Fnickelfox%5Fcom%2F%5Flayouts%2F15%2Fonedrive%2Easpx%3Fid%3D%252Fpersonal%252Fsambhav%255Fshah%255Fnickelfox%255Fcom%252FDocuments%252FISO%2520%252D%2520Process%2520Documents%26ga%3D1&correlation=bab502a2%2Db042%2D7000%2D237c%2Decb931f7863a&Type=item&name=86fc0e23%2Da86a%2D4746%2D9926%2Dc146a8c8da93&listItemId=133&listItemUniqueId=76aee763%2D37a9%2D4100%2D8f6a%2D4c11b9b90140

NEXT_PUBLIC_SUPABASE_URL=https://kjoxamngrzpzzbaeubej.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtqb3hhbW5ncnpwenpiYWV1YmVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyMjg5OTcsImV4cCI6MjA4OTgwNDk5N30.1KLmvUsqSM9lGgQstXcwOLmPzMD32fx9BIfnvcmTSus
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtqb3hhbW5ncnpwenpiYWV1YmVqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDIyODk5NywiZXhwIjoyMDg5ODA0OTk3fQ.mI0W-UN0P5JJkczlGbE0wDKQoYATjwN1K8l0uEqS7cE

ORG_DOMAIN=nickelfox.com
DEFAULT_ORG_ID=00000000-0000-4000-8000-000000000001
